.Nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;  /* assicura la navbar sopra */
    
    display: flex;
    background-color: white;
    height: 60px; /* serve per una dimensione fissa*/
    align-items: center;
}

.Nav ul{
    display: flex;
    justify-content: space-between;
}

/* Sezione laterale */
.Nav-side{
    flex: 0 0 20px;
}

/* Sezione centrale */
.Nav-center{
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

/* Hamburger */
.hamburger{
    font-size: 1.5rem;
    cursor: pointer;
    display: inline-block;
}

.card{
    transition: transform 0.3 ease; /* Effetto movimento su tutta la card */
    overflow: hidden;   /* Evita che l'immagine esca dai bordi arrotondati */
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.Img-hero{
    width: 220px; /* serve per impostare la larghezza*/
    height: 350px; /* Mantiene le proporzioni giuste*/
    border-radius: 15px; 
    object-fit: cover; /* evita che l'immagine si schiaccia*/
    border-bottom: 2px solid #333;
}

.hero-section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    color: white;
    padding: 100px 0;
}

body,html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.carousel-img {
    width: 100%;
    height: 500px;      
    object-fit: cover;  
    object-position: top; 
}
.carousel-caption {
    padding: 15px;
    bottom: 30px;
}

.accordion-button:not(.collapsed) {
    background-color: #333;
    color: #0d6efd; 
    box-shadow: none;
}

.accordion-button::after {
    filter: invert(1); 
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}


@media (max-width: 992px) {
    .carousel-img {
        height: 400px;
    }
}


@media (max-width: 600px) {
    .Img-hero {
        height: 200px;
    }
    .carousel-img {
        height: 250px;
    }
    .title-text {
        font-size: 1rem; 
    }
}